.gameTitleContainer div.Title{
    font-size: 35px;
    margin-bottom: 5rem;
    color: azure;
  }
  
  .gameTitleContainer .nbrOfPlayersbtnContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    
  }
  .gameTitleContainer .nbrOfPlayersbtnContainer .nbrOfPlayersBtn{
    min-height: 5rem;
    background-color: #957186;
    color: azure;
  }

  .gameTitleContainer .configuration{
    margin-top: 2rem;
}


.gameTitleContainer .configuration .content select{
  min-width: 25%;
  margin-right: 60%;
  float: right;
}