.quizContainer .answersContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.quizContainer .answersContainer .quizAnswerBtn {
  color: #fcfcff;
  background-color: #957186;
  border: none;
}

.quizContainer div.question {
  font-size: 35px;
  margin-bottom: 3rem;
  color: azure;
}
